@media (max-width: 1399px) {
    :root {
        /* Special font sizes */
        --page-heading: 52px;
        --section-heading-lg: 68px;
        --section-heading-md: 55px;
        --section-heading-sm: 44px;
        --section-sub-heading: 17px;
        --block-heading-lg: 30px;
        --block-heading-md: 23px;
        --block-heading-sm: 21px;
        /* General font sizes */
        --font-size-lg: 17px;
        --font-size-xl: 19px;
    }
    .section-header p {
        margin-top: 26px;
    }
    .primary-nav .header-contact ul li {
        max-width: 180px;
    }
    .primary-nav .header-contact ul li:not(:last-child) {
        margin-right: 10px;
    }
    #home-content .home .section-img img {
        transform: translate(50px, 50px);
        -webkit-transform: translate(50px, 50px);
        -moz-transform: translate(50px, 50px);
        -ms-transform: translate(50px, 50px);
        -o-transform: translate(50px, 50px);
    }
    #home-content .home .section-info {
        padding: 100px 0 0 60px;
    }
    .honey-box .box-text {
        width: 60%;
        margin-right: 0;
    }
}

@media (max-width: 1199px) {
    :root {
        /* Special font sizes */
        --page-heading: 50px;
        --section-heading-lg: 64px;
        --section-heading-md: 52px;
        --section-heading-sm: 42px;
        --section-sub-heading: 16px;
    }
    .menu-toggle, .header-logo, .header-contact {
        width: 33%;
    }
    #home-content .home {
        padding-top: 65px;
    }
    #home-content .home .row {
        flex-direction: column-reverse;
    }
    #home-content .home .section-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #home-content .home .section-img img {
        width: 80%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    #home-content .home .section-info {
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .section-info p {
        max-width: 600px;
        margin: 18px 0 36px;
    }
    .section-header {
        margin-bottom: 55px;
    }
    .sub-heading {
        margin-bottom: 18px;
    }
    .section-header p {
        margin-top: 22px;
    }
    .page-banner-content {
        padding: 168px 0 112px;
    }
    .page-heading {
        margin-bottom: 36px;
    }
    #home-content .home .section-info img {
        margin: 75px auto 0;
        max-width: 15%;
    }
    .bg-overlay#home {
        max-height: 1000px;
        background-position: top right, bottom left;
        background-size: 53% auto, 10% auto;
    }
    .contact .contact-box {
        padding: 20px;
    }
    #home-content .about .section-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #home-content .about .section-img img {
        width: 80%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    #home-content .about {
        background-size: 40% auto, 15% auto, 15% auto;
    }
    #home-content .about .section-info {
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .who-we-are .who-we-are-box {
        padding: 20px;
    }
    .section-pattern-1, .section-pattern-2 {
        display: none;
    }
    .product-box {
        padding: 20px;
    }
    .types-of-honey .content-wrapper {
        background: none;
        padding: 0;
    }
    .honey-box {
        width: 80%;
        margin: 0 auto;
    }
    .types-of-honey .section-header {
        padding: 0;
    }
    .footer-box.social {
        display: flex;
        align-items: center;
    }
    .footer-box.social .footer-logo {
        margin: 0 0 0 50px;
    }
    /* About page */
    #about-content .contact {
        margin-top: 100px;
        margin-bottom: -100px;
    }
    .technology {
        padding-top: 200px;
    }
    .technology .video-box img {
        height: 450px;
    }
}

@media (max-width: 991px) {
    :root {
        /* Special font sizes */
        --page-heading: 48px;
        --section-heading-lg: 60px;
        --section-heading-md: 50px;
        --section-heading-sm: 40px;
        --section-sub-heading: 15px;
        --block-heading-lg: 28px;
        --block-heading-md: 22px;
        --block-heading-sm: 20px;
        /* General font sizes */
        --font-size-md: 15px;
        --font-size-lg: 16px;
        --font-size-xl: 18px;
    }
    .section-info p {
        margin: 16px 0 32px;
    }
    .section-header {
        margin-bottom: 50px;
    }
    .sub-heading {
        margin-bottom: 16px;
    }
    .section-header p {
        margin-top: 18px;
    }
    .page-banner-content {
        padding: 156px 0 104px;
    }
    .page-heading {
        margin-bottom: 32px;
    }
    #home-content .home .section-img img {
        width: 100%;
    }
    #home-content .about .section-img img {
        width: 100%;
    }
    #home-content .about {
        background-size: 40% auto, 15% auto, 15% auto;
    }
    .contact .contact-box {
        max-width: 400px;
        width: 90%;
        margin: 0 auto;
        padding: 30px;
    }
    .who-we-are .content-wrapper {
        padding-bottom: 90px;
    }
    .who-we-are .who-we-are-box {
        padding: 30px;
        max-width: 400px;
        width: 90%;
        margin: 0 auto;
    }
    .stats {
        background-size: 10% auto;
    }
    .stats::before {
        display: none;
    }
    .stats .stat-box.box-2 {
        border: none;
    }
    .stats .stat-box span {
        font-size: 60px;
    }
    .product-box {
        padding: 30px;
        max-width: 400px;
        width: 90%;
        margin: 0 auto;
    }
    .honey-box {
        width: 100%;
    }
    /* About page */
    #about-content .about .section-info {
        max-width: none;
        align-items: center;
        text-align: center;
        padding-top: 30px;
    }
    #about-content .contact {
        margin: 0;
        padding: 60px 0 90px;
    }
    .technology {
        padding-top: 90px;
    }
    .advantages .col-lg-3:nth-child(2) .advantage-box {
        border-right: none;
    }
    /* Blog page */
    .blog-box .box-text {
        padding: 25px;
    }
    /* Blog inner page */
    .blog-inner-box {
        width: 90%;
    }
    .blog-inner-box .box-text {
        padding: 30px;
    }
    /* Products page */
    #products-content .product-box {
        width: 100%;
    }
    /* Products inner page */
    .product-info .product-img {
        padding: 0;
        border-right: none;
    }
    .product-info .product-text {
        padding: 0;
    }
    .productThumbSwiper {
        margin: 10px 0 0;
    }
    .product-info, .product-desc, .related-products {
        padding-bottom: 0px;
    }
    .related-products .product-box {
        width: 100%;
    }
}

@media (max-width: 767px) {
    :root {
        /* Special font sizes */
        --page-heading: 44px;
        --section-heading-lg: 54px;
        --section-heading-md: 45px;
        --section-heading-sm: 36px;
        --block-heading-lg: 26px;
        --block-heading-md: 21px;
        --block-heading-sm: 19px;
        /* General font sizes */
        --font-size-xs: 12px;
        --font-size-sm: 13px;
        --font-size-md: 14px;
        --font-size-lg: 15px;
        --font-size-xl: 17px;
    }
    .section-info p {
        margin: 14px 0 28px;
    }
    .section-header {
        margin-bottom: 45px;
    }
    .sub-heading {
        margin-bottom: 14px;
    }
    .section-header p {
        margin-top: 16px;
    }
    .page-banner-content {
        padding: 144px 0 96px;
    }
    .page-heading {
        margin-bottom: 28px;
    }
    .primary-nav .header-contact ul li a i {
        margin-right: 5px;
    }
    #home-content .home .section-info img {
        margin: 50px auto 0;
        max-width: 30%;
    }
    .bg-overlay#home {
        max-height: 800px;
        background-size: 70% auto, 10% auto;
    }
    #home-content .contact {
        padding: 50px 0;
    }
    #home-content .about {
        background-size: 45% auto, 25% auto, 15% auto;
        padding: 50px 0;
    }
    .stats {
        margin-top: 70px;
        padding: 0;
    }
    .products {
        margin-top: 70px;
    }
    .types-of-honey {
        margin-top: 70px;
        background-size: 10% auto, 10% auto, 15% auto;
    }
    .honey-box .box-text {
        width: 100%;
        text-align: right;
    }
    #footer {
        margin-top: 70px;
    }
    .footer-box {
        text-align: center;
    }
    .footer-box h4 {
        margin-left: -24px;
    }
    .footer-box li {
        max-width: none;
    }
    .footer-box.social {
        flex-direction: column;
    }
    .footer-box.social .footer-logo {
        margin: 15px 0 0;
    }
    .copyright {
        margin-top: 20px;
        padding: 20px 0;
        text-align: center;
    }
    /* About Page */
    #about-content .about .section-img {
        background-size: 15% auto;
        background-position: 5% 5%, 95% 95%;
    }
    #about-content .about .section-img img {
        width: 65%;
    }
    #about-content .contact {
        padding: 50px 0 70px;
    }
    #about-content .about .section-info {
        padding-top: 20px;
    }
    .technology {
        padding-top: 70px;
    }
    .technology .video-box {
        max-width: 400px;
        width: 90%;
    }
    .technology .video-box img {
        height: 300px;
    }
    .technology .video-box a {
        width: 60px;
        height: 60px;
    }
    .technology .video-box a i {
        font-size: 22px;
    }
    #about-content .stats {
        margin-top: 200px;
        padding-bottom: 30px;
    }
    .advantages {
        margin-top: 70px;
    }
    .advantages .advantage-box {
        border: none !important;
    }
    .advantage-box h5 {
        margin-top: 25px;
    }
    /* Blog page */
    .blog-box {
        max-width: 400px;
        width: 90%;
        margin: 0 auto;
    }
    .blog-box .box-text {
        padding: 20px;
    }
    /* Products page */
    #products-content .product-box {
        width: 90%;
    }
    /* Product inner page */
    .related-products .product-box {
        width: 90%;
    }
    .product-info .content-wrapper, .product-desc .content-wrapper {
        padding: 30px;
    }
    .productSwiper {
        height: 350px;
    }
    .productThumbSwiper {
        height: 90px;
    }
}

@media (max-width: 575px) {
    :root {
        /* Special font sizes */
        --page-heading: 38px;
        --section-heading-lg: 48px;
        --section-heading-md: 40px;
        --section-heading-sm: 34px;
        --section-heading-sm: 36px;
        --block-heading-lg: 25px;
        --block-heading-md: 20px;
        --block-heading-sm: 19px;
        /* General font sizes */
        --font-size-xs: 12px;
        --font-size-sm: 13px;
        --font-size-md: 14px;
        --font-size-lg: 15px;
        --font-size-xl: 17px;
    }
    .btn-general.order:hover i {
        animation: none;
        -webkit-animation: none;
    }
    .btn-general.order i {
        animation: phone-ring 1s infinite;
        -webkit-animation: phone-ring 1s infinite;
    }
    .section-info p {
        margin: 12px 0 24px;
    }
    .section-header {
        margin-bottom: 40px;
    }
    .sub-heading {
        margin-bottom: 12px;
    }
    .section-header p {
        margin-top: 14px;
    }
    .page-banner-content {
        padding: 132px 0 88px;
    }
    .page-heading {
        margin-bottom: 24px;
    }
    .primary-header.sticky .primary-nav {
        padding: 10px 0;
    }
    .header-logo h1 {
        font-size: 32px;
    }
    .primary-nav .header-contact ul li:last-child a i {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: phone-ring 1s infinite;
        -webkit-animation: phone-ring 1s infinite;
        width: 32px;
        height: 32px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
        margin: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .primary-nav .header-contact ul li:last-child a span {
        display: none;
    }
    .mobile-menu .mobile-nav li a {
        text-align: center;
    }
    #home-content .home {
        padding-top: 60px;
    }
    .menu-bars span {
        margin: 2px 0;
    }
    .who-we-are .content-wrapper {
        padding-bottom: 70px;
    }
    .who-we-are .who-we-are-box {
        height: 350px;
    }
    .who-we-are .who-we-are-box img {
        width: 100px;
        height: 100px;
    }
    .stats .stat-box span {
        font-size: 52px;
    }
    .contact .contact-box h2 {
        margin: 12px 0;
    }
    .contact .contact-box i {
        font-size: 36px;
    }
    .product-box img {
        height: 200px;
        margin-bottom: 20px;
    }
    .honey-box {
        height: 280px;
    }
    .honey-box .box-text h3 {
        margin-bottom: 15px;
    }
    .honey-box .box-text p {
        margin-bottom: 15px;
    }
    .honey-box .box-text a {
        margin-top: 15px;
    }
    .footer-box li {
        margin-bottom: 8px;
    }
    #footer .content-wrapper {
        padding-top: 30px;
    }
    #footer .section-curve {
        margin-bottom: -1px;
    }
    .footer-box .contact-list i {
        margin-right: 8px;
    }
    .footer-box .social-list a {
        width: 30px;
        height: 30px;
    }
    .footer-logo h1 {
        font-size: 32px;
    }
    .products .section-curve:first-child {
        margin-bottom: -1px;
    }
    .products .section-curve:last-child {
        width: 100%;
        height: 25px;
        margin-top: -1px;
    }
    .products .section-curve:last-child img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .who-we-are .section-curve {
        margin-bottom: -1px;
    }
    /* About Page */
    .technology .section-curve {
        width: 100%;
        height: 25px;
        margin-top: -1px;
    }
    .technology .section-curve img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Blog inner page */
    .blog-inner-box {
        width: 100%;
    }
    .blog-inner-box .box-img {
        margin-bottom: 24px;
    }
    .blog-inner-box .box-text {
        padding: 25px;
    }
    /* 404 Page */
    .not-found h2 {
        margin-bottom: 5px;
    }
    .not-found p {
        margin-bottom: 20px;
    }
    /* Products inner page */
    .productSwiper {
        height: 300px;
    }
    .productThumbSwiper {
        height: 80px;
    }
    .product-info .content-wrapper, .product-desc .content-wrapper {
        padding: 25px;
    }
    .product-info .product-text p {
        padding: 20px;
    }
    .productSwiper .swiper-button-next:after, .productSwiper .swiper-button-prev:after {
        font-size: 28px;
    }
}